* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 500px) {
    .details-container {
        flex-wrap: wrap;
        height: auto;
        flex-direction: column;
    }
    .details-box {
        width: 50vh;
    }
}

@media only screen and (max-width: 414px) {
    .logo img {
        width: 14.5rem;
        height: 7.375rem;
    }
    .logo {
        margin-left: -6rem;
        margin-top: -1.74rem;
    }
    .details-container {
        flex-wrap: wrap;
        height: auto;
        flex-direction: column;
    }
    .details-box {
        width: 50vh;
    }
}